# **Assignment 5: Consumer segmentation using PCA**

### **1. Import, scale, and summarize the data. (1 point)**

In [2]:
import pandas as pd 

df = pd.read_csv("Questionaire data.csv")

df.head()

   Resp  X1  X2  X3  X4  X5
0     1   6   0   8   4   4
1     2   4   9   2   8   9
2     3   2   8   2   6   9
3     4   5   7   3   9   6
4     5   3   8   3   9   6

In [3]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler() #creating an “empty scaler object”, like creating a calculator
X_scaled = scaler.fit_transform(df) # .fit learns the means / standrad deviation and then .transform applies z = X−mean / sd   

# X scaled is a Numpy array thus we convert it to DataFrame for clarity
df_scaled = pd.DataFrame(X_scaled, columns=df.columns)
df_scaled.head()

       Resp        X1        X2        X3        X4        X5
0 -1.675247  0.552931 -1.706482  1.605061 -0.489698 -0.190368
1 -1.559712 -0.138233  1.285402 -0.617331  0.909439  1.594335
2 -1.444178 -0.829396  0.952971 -0.617331  0.209871  1.594335
3 -1.328644  0.207349  0.620539 -0.246932  1.259224  0.523513
4 -1.213110 -0.483814  0.952971 -0.246932  1.259224  0.523513

In [6]:
df_scaled.describe()

,Resp,X1,X2,X3,X4,X5
count,3.000000e+01,3.000000e+01,3.000000e+01,3.000000e+01,3.000000e+01,3.000000e+01
mean,1.480297e-17,-1.628327e-16,-1.221245e-16,4.440892e-17,-8.511710e-17,4.440892e-17
std,1.017095e+00,1.017095e+00,1.017095e+00,1.017095e+00,1.017095e+00,1.017095e+00
min,-1.675247e+00,-1.520560e+00,-1.706482e+00,-1.358128e+00,-1.888836e+00,-1.618131e+00
25%,-8.376234e-01,-8.293962e-01,-8.754034e-01,-6.173310e-01,-1.014375e+00,-9.042494e-01
50%,0.000000e+00,2.073491e-01,2.881074e-01,-2.469324e-01,2.098706e-01,-1.903683e-01
75%,8.376234e-01,8.985126e-01,8.698628e-01,7.716637e-01,9.094394e-01,5.235128e-01
max,1.675247e+00,1.589676e+00,1.285402e+00,1.975459e+00,1.259224e+00,1.594335e+00